.featured-products {
    margin: 20px 0;
  }
  
  .featured-products h2 {
    text-align: center;
  }
  
  .slick-slider {
    margin: 0 auto;
  }
  
  .product-item {
    text-align: center;
    padding: 20px;
  }
  
  .product-item img {
    max-width: 30%;
    height: 200px;
  }
  
  .product-item h3 {
    margin-top: 10px;
  }
  
  .product-item p {
    margin-top: 5px;
  }