.main {
    background-image: url(/drinks.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 24px;
    position: relative;
}

  .main-content {
    position: relative;
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }