.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3F7D20;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 70px;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  margin: 0 15px;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0056b3;
}

.cart-widget {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-widget p {
  margin: 0;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
}